/* Style de base pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style de la navbar */
ul {
    background-color: #333; /* Couleur de fond */
    list-style-type: none; /* Supprime les puces de la liste */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Empêche le débordement du contenu */
}

/* Style des éléments de la navbar */
ul li {
    float: left; /* Alignement horizontal des éléments */
}

/* Style des liens dans la navbar */
ul li a {
    display: block; /* Convertit les liens en blocs pour occuper toute la largeur du conteneur */
    color: white; /* Couleur du texte */
    text-align: center; /* Centrage du texte */
    padding: 14px 16px; /* Espacement du texte à l'intérieur des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
}

/* Changement de style au survol des liens */
ul li a:hover {
    background-color: #555; /* Couleur de fond au survol */
}
